* {
    padding: 0;
    margin: 0;
    color: #111;
    font-family: 'Roboto', sans-serif;
}

.td-header {
    margin: 40px 0px;
    font-size: 30px;
    font-weight: 700;
}

.td-projects {
    width: 50%;
    margin: auto;
}

.td-projects__item {
    display: flex;
    margin-bottom: 20px;
}

.item__cover {
    padding-right: 20px;
}

.item__content a {
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.item__content a:hover {
    color: #4db2ec;
}

.content__auth {
    margin-bottom: 10px;
}

.content__author {
    font-size: 15px;
    font-weight: bold;
}

